@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #272727;
}
h1, h2, h3 {
  font-weight: 900;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
h2 + p {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2.5rem;
}
p {
  color: rgba(39, 39, 39, 0.6);
  margin-bottom: 1.5rem;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
button {
  background-color: #E55473;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
header, section, footer {
  padding: 0 100px;
}

/* Commonly Used Classes */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.flex > * {
  flex: 1;
}

/* Header Section */
.header-section {
  background-color: rgba(229, 84, 115, 0.1);
  padding-top: 2rem;
}
.header-section h1 {
  max-width: 450px;
}
.header-section p {
  max-width: 550px;
}
.header-section button {
  margin-bottom: 1rem;
}
.header-section .header-img {
  align-self: flex-end;
}
.header-section img {
  max-height: 500px;
}

/* Featured Section */
.featured-section {
  margin-top: 4rem;
}
.featured-section .featured-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.featured-section figure {
  width: 100%;
  max-width: 250px;
  height: 320px;
}
.featured-section .featured-2 .img-wrapper {
  background-color: rgba(5, 151, 160, 0.15);
}
.featured-section .featured-3 .img-wrapper {
  background-color: rgba(71, 125, 17, 0.15);
}
.featured-section .img-wrapper {
  width: 100%;
  height: 280px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.featured-section img {
  height: 100%;
  padding-top: 60px;
}
.featured-section figcaption {
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
}